body {
  background-color: EEDBB9;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: 19265A;
  text-shadow: white 2px 5px;
}

@media screen and (max-width:700px) {
  .flashy {
    color:blue;
  }
  img {
    display:none;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
